<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
		<a href="{{site.baseurl}}/"><img class="badge" src="/assets/img/avatars/LightOnData5.jpg" alt="CH"></a>

    {% assign page_topdir = page.url | remove_first: '/' | split: '/' | first %}

    {% for node in site.pages %}
        {% unless node.nav_exclude or node.title == 'About' %}
            {% if page.url == node.url %}
                <a class="active" href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
            {% else %}
                <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
            {% endif %}
        {% endunless %}
    {% endfor %}

    {% for c in site.collections %}
        {% for doc in c.docs %}
            {% assign filename = doc.url | split: '/' | last %}
            {% if filename == 'index' %}
                {% if page_topdir == c.label %}
                    <a class="active" href="{{doc.url | prepend: site.baseurl}}">{{doc.title}}</a>
                {% else %}
                    <a href="{{doc.url | prepend: site.baseurl}}">{{doc.title}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% if page.url == '/about/' %}
        <a class="active" href="{{'/about/' | prepend: site.baseurl}}">about</a>
    {% else %}
        <a href="{{'/about/' | prepend: site.baseurl}}">about</a>
    {% endif %}

	</nav>
</header>
